In [5]:
import pandas as pd
import pipeline_utilities as p_util

In [2]:
# Create a list of DataFrames by using a list comprehension with read_csv
topic = ['palestine', 'obama', 'microsoft', 'economy']
dfs = [pd.read_csv(f'https://static.bc-edx.com/ai/ail-v-1-0/m12/lesson_3/datasets/news-popularity.csv') for topic in topic]
dfs[-1].head()

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
0,99248.0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,0.000000,-0.053300,-1,-1,-1
1,10423.0,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,0.208333,-0.156386,-1,-1,-1
2,18828.0,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-0.425210,0.139754,-1,-1,-1
3,27788.0,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,0.000000,0.026064,-1,-1,-1
4,27789.0,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,0.000000,0.141084,-1,-1,-1

In [6]:
# Create a dictionary with the models
model_dict = {}
for df in dfs:
    print(df.iloc[0,3])
    model_dict[f"{df.iloc[0,3]}_model"] = p_util.prod_model_generator(df)
    print("----------")

USA TODAY

AttributeError: module 'pipeline_utilities' has no attribute 'prod_model_generator'

In [ ]:
model_dict